@keyframes sky {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -1000px;
    }
}

body {
    background-image: url('Resources/Q2/LovelyPic.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    animation: sky 60s linear infinite;
}
