@keyframes sky {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -1000px;
    }
}

body {
    background: url('Resources/Q2/LovelyPic.jpg') repeat fixed;
    background-size: cover;
    animation: sky 60s linear infinite;
}
