#image1 {
    height: 500px;
    background: url("Resources/Q3/img_lights_wide.jpg") no-repeat fixed center;
    background-size: cover;
}

#image2 {
    height: 500px;
    background: url("Resources/Q3/img_nature_wide.jpg") no-repeat fixed center;
    background-size: cover;
}

#image3 {
    height: 500px;
    background: url("Resources/Q3/img_mountains_wide.jpg") no-repeat fixed center;
    background-size: cover;
}

#image4 {
    height: 500px;
    background: url("Resources/Q3/img_snow_wide.jpg") no-repeat fixed center;
    background-size: cover;
}